@model IEnumerable<CommentAndReplySystem.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>All Comment</h2>


<table class="table">

    @* display Comment*@
    @foreach (var comment in Model)
    {
        <tr>
            <td>
                <span style="font-weight: bold"> @Html.DisplayFor(modelItem => comment.User.UserName) :</span>
                <span> @Html.DisplayFor(modelItem => comment.userInput)</span>
                <p> @Html.DisplayFor(modelItem => comment.CreatedOn)</p>

                @* display reply*@

                @foreach (var reply in comment.Replies)
                {
                    <span> Reply from @reply.User.UserName: @reply.userInput</span>
                    <p> @reply.CreatedOn</p>
                }

                @* Submit reply on the comment*@ 

                @using (Html.BeginForm("CommentReply", "CommentRoom", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="CommentId" value="@comment.Id" />

                    <input type="text" class="form-control" name="Reply">
                    <input type="Submit" class="btn btn-sm btn-primary" value="Post Reply">
                }

            </td>


        </tr>
    }

</table>
